.card{
    background-color:lightgray;
    width: 100%;
    height:40%;
    display: flex;
    flex-direction: row;
    overflow:scroll;
    overflow-y: hidden;
    padding-bottom: 10px;
   
}

.card-img{
    object-fit: contain;
    width: 80%; 
    height: 200px;
    margin-right: 10px;
    border-radius: 10px;
}
.card::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background: #c31432;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #240b36, #c31432);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #240b36, #c31432); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  }

  @media (max-width:1024px) {
    /* .stiky-bar{
        display: none;
    } */
}




